{% block modal %}
    <style>
        #modalGlobal {
            background: rgba(0, 0, 0, 0.9);
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100vh;
            width: 100vw;
            transition: all .5s;
        }

        .modal-container {
            height: 100vh;
            width: 100vw;
            display: flex;

            justify-content: center;
            align-items: center;
        }

        .modal-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .modal-body {
            background-color: white;
            padding: 10px;
            border: 1px solid midnightblue;
            width: 100vw;

            border-radius: 10px;
        }

        #closeGlobalModal {
            cursor: pointer;
            font-size: 2rem;
        }

    </style>


    <div id="modalGlobal">
        <div class="modal-container">

            <div class="modal-body">
                <div class="modal-header">
                    <span id="titleGlobalModal"></span>
                    <span id="closeGlobalModal">&times;</span>
                </div>
                <div id="bodyGlobalModal">
                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                            <div class="overflow-hidden">
                                <table class="min-w-full border text-center text-sm font-light dark:border-neutral-500">
                                    <thead class="border-b font-medium dark:border-neutral-500">

                                        <tr>
                                            <th scope="col"
                                                class="border-r px-6 py-4 dark:border-neutral-500">
                                                ID</th>
                                            <th scope="col"
                                                class="border-r px-6 py-4 dark:border-neutral-500">
                                                Nombre del Paciente</th>
                                            <th scope="col"
                                                class="border-r px-6 py-4 dark:border-neutral-500">
                                                Foto del Paciente</th>
                                            <th scope="col"
                                                class="border-r px-6 py-4 dark:border-neutral-500">
                                                Descripción</th>
                                            <th scope="col"
                                                class="border-r px-6 py-4 dark:border-neutral-500">
                                                Doctor</th>
                                            <th scope="col"
                                                class="border-r px-6 py-4 dark:border-neutral-500">
                                                Estudios</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="border-b dark:border-neutral-500">
                                        <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                            #
                                        </td>
                                        <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                            <textarea  rows="4" class="namePatient block p-2.5 w-full
                                            text-sm border border-gray-300 text-black"
                                            placeholder="Nombre del paciente"></textarea>

                                        </td>
                                        <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                            <input type="file" class="chargePhotoPatient text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800
                                             shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
                                                   >
                                        </td>
                                        <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                            <textarea rows="4" class="description block p-2.5 w-full text-sm border
                                            border-gray-300 text-black"
                                            placeholder="Descripción"></textarea>

                                        </td>
                                        <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                            <p>Nombre del Dogtor</p>
                                        </td>
                                        <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">
                                            <textarea rows="4" class=" block p-2.5 w-full text-sm
                                            border border-gray-300 text-black"
                                            placeholder="Estudios"></textarea>

                                        </td>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button  class="registerP text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800
                            shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                        Agregar</button>



                </div>
            </div>
        </div>
    </div>

    <script>

        function closeGlobalModal() {
            $("#modalGlobal").hide();
        }

        function openGlobalModal() {
            $("#modalGlobal").show();
        }

        function renderBodyGlobalModal(title = '', body = '') {
            $("#titleGlobalModal").text(title);
            $("#bodyGlobalModal").empty().append(body);
        }

        $("#closeGlobalModal").click(function() {
            closeGlobalModal();
        })
        $( document ).ready(function() {
            $(".registerP").on("click", function() {
                console.log("se registro")
            });



        });

    </script>
{% endblock %}