{% use 'components/productDesc.html.twig' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Movie{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

</head>
<body>
<div class="w-full flex">
    <div class="query max-h-screen overflow-y-auto  w-9/12 grid grid-cols-1 md:grid-cols-3
     bg-gray-900 ">


        <!-- Renderiza peliculas -->
    </div>
    <div class="w-3/12  bg-gray-900 max-h-screen overflow-y-auto">
        <div class="w-full flex">
            <div class="w-4/12 bg-gray-900">
                <h2 class="font-bold text-white"
                    style="font-size: 28px; margin: 0 0 30px 0;">Total : </h2>
            </div>

            <div class="w-8/12 ">
                <p id="cardTitle" class="font-bold text-white"
                   style="font-size: 28px; margin: 0 0 30px 0;">Total : </p>
                <a href="/order">
                    <button

                            class="quantity block text-white bg-blue-700
                    hover:bg-blue-800  type="button">
                    Pay</button>
                </a>

            </div>
        </div>

        <div class= "cart"> </div>

    </div>
</div>

{% block modalproduct %}{{ parent() }}{% endblock %}




<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

<script>
    function getProducts(){
        const settings = {

            url:'/app/chargeproducts'
        }
        $.ajax(settings).done(function (response) {

            products=response.productos;
            render(products)

        })
    }
    function getCarrito(cb){
        const settings = {

            url:'/app/getCarrito'
        }
        $.ajax(settings).done(function (response) {
            console.log(response.total)

            carrito=response.productos
            let movieInf = []
            let i;
            let elements = [];

            carrito.map(function (product) {

                var element = `<div class="" >
                        <span class="modalDescription" data-productid="${product.id}">
                            <img class="" src="${product.image}" >
                            <h1 class="mb-2 mt-0 text-xl font-medium leading-tight
                            text-primary text-white
                            w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12
                            " >${product.title}
                            </h1>
                        </span>
                        <div class=" grid grid-cols-2 gap-4 bg-gray-900">


                            <button
                            data-productid="${product.id}"
                            data-quantity="${product.quantity}"
                            data-action="resta"
                            class="quantity block text-white bg-blue-700
                            hover:bg-blue-800 " type="button">
                              -
                            </button>
                            <p class="text-primary text-white">"${product.quantity}"</p>

                            <button
                            data-productid="${product.id}"
                            data-quantity="${product.quantity}"
                            data-action="suma"

                            class="quantity block text-white bg-blue-700
                            hover:bg-blue-800  type="button">
                              +
                            </button>
                        </div>

                    </div>
                    `
                movieInf.push(element);


            });
            $("#cardTitle").text(response.total)

            $('.cart').empty().append(movieInf.join(''));
        })
    }
    function updateQuantity(action,idProduct,cb){
        const settings = {

            url:'/app/updateQuantity',
            data:{
                idProduct:idProduct,
                action:action
            }
        }
        $.ajax(settings).done(function (response) {
            console.log(response)
            cb();
        })

    }
    function render(products){
        let movieInf= []
        let i;
        let elements= [];

        products.map(function(product) {

            var element = `<div  class="container my-1 mx-auto md:px-3 xl:px-1 	" >
                        <section class="mb-1">
                            <div class="block rounded-lg bg-white
                            shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-600 h-auto">
                                <div class="flex flex-wrap items-center">
                                    <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
                                        <span class="modalDescription" data-productid="${product.id}">
                                            <img class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" src="${product.image}" >

                                        </span>
                                    </div>
                                    <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
                                        <div class="px-6 py-12 md:px-12">
                                            <h2 class="mb-6 pb-2 text-2xl font-bold text-white" >${product.title}
                                                                                        </h2>

                                            <h6 class="mb-2 mt-0 text-xl font-medium leading-tight text-primary text-white " >$${product.price}
                                            </h6>
                                            <button
                                            data-productid="${product.id}"

                                            class="addCart block text-white bg-blue-700
                                            hover:bg-blue-800 focus:ring-4 focus:outline-none
                                            focus:ring-blue-300 font-medium rounded-lg text-sm px-5
                                            py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700
                                            dark:focus:ring-blue-800" type="button"
>
                                              Add cart
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    `
            movieInf.push(element);
            $('.query').empty().append(movieInf.join(''));


        });
    }
    function addCart(idProduct,cb){
        const settings = {

            url:'/app/addCart',
            data:{
                idProduct:idProduct
            }
        }
        $.ajax(settings).done(function (response) {
            console.log(response)
            cb()
        })

    }

    $( document ).ready(function() {
        getProducts()
        getCarrito()
        $(".query").on("click", ".modalDescription", function() {

            let productId = $(this).attr("data-productid");
            openGlobalModal(productId);

        });
        $(".query").on("click", ".addCart", function() {
            console.log("se agrego al carrito ")
            let productId = $(this).attr("data-productid");

            addCart(productId,() => {
                getCarrito()
            })

        });
        $(".cart").on("click", ".quantity", function() {
            let action = $(this).attr("data-action");
            let idproduct = $(this).attr("data-productid");
            let quatity = $(this).attr("data-quantity");



            console.log("cambiar la cantidasd", action , quatity)
            updateQuantity(action,idproduct,()=>{
                getCarrito()
            })



        });

    });
</script>
</body>
</html>
