{%use "user/header.html.twig" %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
            <script>
                var movies=[];

                function getdata(){
                    const settings = {
                        async: true,
                        crossDomain: true,
                        url: 'https://api.themoviedb.org/3/movie/{{ movieId }}?language=en-US',
                        method: 'GET',
                        headers: {
                            accept: 'application/json',
                            Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTlmN2Q3MmYzOGQ2ZjIzNDEzZTVjODRjZmNmYTMwNSIsInN1YiI6IjY0ZGJhZGM5Yjc3ZDRiMTE0MjVkZmEwNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OE2bMBkUtaosNS2qL0Sik6tci6W5dGw3AtQFcpH-Elg'
                        }
                    };

                    $.ajax(settings).done(function (response) {
                        movies=response;

                        render(movies)
                    });
                }


                function render(movies){
                    var movieInf= []
                    var impgen=[]
                    var gen=movies.genres
                    let generesXPelicula = [];
                    gen.map(function (idmov){
                        generesXPelicula.push(idmov.name);


                    })

                        var element = `<li class="text-white opacity-75 font-bold leading-tight text-center md:text-left">${generesXPelicula}</li>`

                        impgen.push(element);

                    $('.list-disc').append(impgen.join(''));



                    var element = `<tr class="bg-gray-800">
                         <td class="p-3">
                            <img class="rounded-full h-12 w-12   object-cover" src="https://image.tmdb.org/t/p/w500${movies.poster_path}" alt="unsplash image">
                        </td>
                        <td class="p-3">${movies.original_title}</td>
                        <td class="p-3">${movies.overview}</td>
                        <td class="p-3">${movies.release_date}</td>
                    </tr>
                    `
                    movieInf.push(element);

                    $('.query').empty().append(movieInf.join(''));
                }

                function getRecom(){
                    const settings = {
                        async: true,
                        crossDomain: true,
                        url: 'https://api.themoviedb.org/3/movie/{{ movieId }}/recommendations?language=en-US&page=1',
                        method: 'GET',
                        headers: {
                            accept: 'application/json',
                            Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTlmN2Q3MmYzOGQ2ZjIzNDEzZTVjODRjZmNmYTMwNSIsInN1YiI6IjY0ZGJhZGM5Yjc3ZDRiMTE0MjVkZmEwNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OE2bMBkUtaosNS2qL0Sik6tci6W5dGw3AtQFcpH-Elg'
                        }
                    };

                    $.ajax(settings).done(function (response) {
                        recmovies=response.results;
                        renderrec(recmovies)
                    });
                }
                function renderrec(recmovies){
                    var movieInf= []
                    var i;
                    var k=recmovies;
                    var elements= []


                    for (i = 0; i < recmovies.length; ++i) {
                        var element = `<div class=""><a href="/movie/${k[i].id}">

								<img class="" src="https://image.tmdb.org/t/p/w500${k[i].poster_path}" >

                            <h1 class="p-3 text-white opacity-75 font-bold leading-tight text-center md:text-center" >${k[i].original_title}</h1>
                            </a>
                        </div>`
                        movieInf.push(element);
                    }
                    $('.recquery').empty().append(movieInf.join(''));
                }














                $( document ).ready(function() {
                    getdata()
                    getRecom()


                });



            </script>

        {% endblock %}
    </head>
    <body>
        {% block header %}
            {{ parent() }}
        {% endblock %}
        {% block body %}

            <div class="flex  justify-center min-h-screen bg-gray-900">
                <div class="col-span-12">
                    <div class="overflow-auto lg:overflow-visible ">

                        <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-center">
                            Favorites</h1>
                        <div class="recquery grid grid-cols-7 gap-4">


                        </div>
                    </div>
                </div>
            </div>
            <style>
                .table {
                    border-spacing: 0 15px;
                }

                i {
                    font-size: 1rem !important;
                }

                .table tr {
                    border-radius: 20px;
                }

                tr td:nth-child(n+5),
                tr th:nth-child(n+5) {
                    border-radius: 0 .625rem .625rem 0;
                }

                tr td:nth-child(1),
                tr th:nth-child(1) {
                    border-radius: .625rem 0 0 .625rem;
                }
            </style>




        {% endblock %}
    </body>
</html>
