

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<style>
    .papas{
        display: flex;
    }

    .rojos{
        height: 50px;
        width: 50px;
        background-color: red;
        margin: 60px 10px 60px 5px;

    }
    .rojos:nth-child(2){
        color:yellow;
    }
    .azules{
        background-color: #7979fc;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 10px 20px;


    }
    .azules > div{
        color:yellow;
    }
    .azules > span {
        color:red;
    }

    .verdes{
        height: 50px;
        width: 50px;
        margin: 60px 10px 60px 5px;
        border: 2px solid black;
    }
    .verdes:nth-child(odd){
        background-color: green;
    }

    .morados{
        background-color: rebeccapurple;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 10px 20px;

    }
    .morados:hover{
        background-color: peachpuff;
    }
    .cafe{
        font-size: 24px;
    }
    /*.hijocafe{
        color:yellow;
    }
    .cafead{
        color:red;
    }*/
    .cafe  .hijocafe{
        color:yellow;
    }
    .cafe  .cafead {
        color:red;
    }
    .amarillo{
        height: 50px;
        width: 50px;
        margin: 60px 10px 60px 5px;
        border: 2px solid black;
    }.amarillo:hover{
        background-color: pink;
    }
    .select{
        background-color: green;
    }


</style>
<body>
<div class="papas">
    <div class="rojos">ROJOS</div>
    <div class="rojos">ROJOS</div>
    <div class="rojos">ROJOS</div>
</div>
<div class="papas">
    <div class="azules">
        <div>Titulo</div>
    </div>
    <div class="azules">
        <div>Titulo</div>
    </div>
    <div class="azules">
        <div>Titulo</div>
    </div>
    <div class="azules">
        <span>Titlo</span>
    </div>
</div>
<div class="papas">
    <div class="verdes"></div>
    <div class="verdes"></div>
    <div class="verdes"></div>
    <div class="verdes"></div>
    <div class="verdes"></div>
    <div class="verdes"></div>
    <div class="verdes"></div>
    <div class="verdes"></div>
</div>
<div class="papas">
    <div class="morados"></div>
    <div class="morados"></div>
    <div class="morados"></div>
</div>
<div class="papas">
    <div class="cafe" id="h1">
        <div class="hijocafe"><div>adad</div></div>
    </div>
    <div class="cafe" id="h2">
        <div class="cafead"><div>CAFE</div></div>
    </div>
</div>
<div class="papas">
    <div class="amarillo select"></div>
    <div class="amarillo"></div>
    <div class="amarillo"></div>
    <div class="amarillo"></div>
    <div class="amarillo"></div>
</div>
<div id="contarc">
    <span></span>

</div>
<script>
    let contador=0;
    let amarillo = document.querySelectorAll(".papas .amarillo");
    let contarclick = document.getElementById("contarc");

    amarillo.forEach(function (amarillito){

        amarillito.addEventListener("click",() => {
            contador++;
            contarclick.innerText= `${contador}`;
            console.log(contador)
            amarillo.forEach(function (am){
                am.classList.remove("select");

            })
            amarillito.classList.add("select");
        })
    })



</script>
</body>
</html>
