{%use "user/header.html.twig" %}
{%use "user/tablemovieformat.html.twig" %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

        {% endblock %}
    </head>
    <body>
        {% block header %}
            {{ parent() }}
        {% endblock %}
        {% block body %}

            <div class="flex  justify-center min-h-screen bg-gray-900">
                <section class="bg-white dark:bg-gray-900">
                    <div class="container px-6 py-10 mx-auto">
                        <h1 class="surname text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Listas de </h1>

                        <div class="listmov grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">

                        </div>
                    </div>
                </section>

            </div>
            <script>
                let moviesIn=[];

                /**
                 * Creamos objeto de la clase de utilidades
                 */
                //let movieUtils = new MovieUtils();

                function render(){
                    var movieInf= []

                    let  = [];

                    renderlist(function (listn) {
                        listn.map(function (kl) {

                            var element = `

                            <div class="lg:flex">
                                <a href="/list/${kl.listid}">
                                    <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">

                                    <div class="flex flex-col justify-between py-6 lg:mx-6">
                                        <a href="#" class="text-xl font-semibold text-gray-800 hover:underline dark:text-white ">
                                            ${kl.nameli}
                                        </a>

                                    </div>
                                </a>
                            </div>

                                `
                            movieInf.push(element);
                            $('.listmov').empty().append(movieInf.join(''));

                        });
                    });
                }




                function renderlist(cb){
                    const settings = {

                        url: '/chargelist',
                        data:{}
                    };
                    $.ajax(settings).done(function (response) {
                        var listnm=response.list;

                        cb(listnm)
                    });

                }
                function rendermoviels(){
                    const settings = {

                        url: '/chargelistinfo',
                        data:{}
                    };
                    $.ajax(settings).done(function (response) {
                        console.log(response)
                    });

                }

                function getUserinfo(){
                    const settings = {

                        url: '/AccessUserInfo',
                        data: {
                        }
                    };

                    $.ajax(settings).done(function (response) {
                        var username=response.info
                        $('.surname').append(username.username);

                    });
                }


                $( document ).ready(function() {
                    render();
                    getUserinfo()
                    rendermoviels()
                    //getdata();

                });
            </script>
            <style>






        {% endblock %}
    </body>
</html>
