{%use "user/header.html.twig" %}
{%use "user/tablemovieformat.html.twig" %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
            <script>
                var movies=[];
                function rendercomments(commentslist,cb){
                    const settings = {

                        url: '/chargeComments',
                        data:{

                        }
                    };

                    $.ajax(settings).done(function (response) {

                        commentslist=response.comments;
                        const groupedComments = [];
                        response.comments.forEach(comment => {
                            if (!groupedComments[comment.movie_id]) {
                                groupedComments[comment.movie_id] = {
                                    comments: []
                                };
                            }
                            groupedComments[comment.movie_id].comments.push(comment);
                        });

                        getdatatable(groupedComments)


                    });




                }



                async function getdatatable(groupedComments){
                    var movieList= []
                    var movieInf= []

                    var liscom=[]

                    groupedComments.map(function(movied) {
                        movied.comments.map(function (intocommen) {
                            liscom.push(intocommen)
                            movieList.push(intocommen.movie_id)
                        })
                    });
                    const dataArr = new Set(movieList);
                    let movies = [];
                    let movieId = Array.from(dataArr);


                    for (const mId of movieId){
                        res = await $.ajax({
                            async: true,
                            crossDomain: true,
                            url: 'https://api.themoviedb.org/3/movie/'+mId+'?language=en-US',
                            method: 'GET',
                            headers: {
                                accept: 'application/json',
                                Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTlmN2Q3MmYzOGQ2ZjIzNDEzZTVjODRjZmNmYTMwNSIsInN1YiI6IjY0ZGJhZGM5Yjc3ZDRiMTE0MjVkZmEwNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OE2bMBkUtaosNS2qL0Sik6tci6W5dGw3AtQFcpH-Elg'
                            }
                        });
                        movies.push(res);

                    }
                    movies.map(function(movie) {
                        let comentariosxpelicula = [];
                        liscom.map(function(com) {

                            if(com.movie_id == movie.id) {


                                        var element = `
                                <div class="border-double border-4
                                border-black-500 bg-gray-400 text-gray-900
                                text-center rounded">
                                <h5 class="text-end text-xss">${com.datem}</h5>

                                <p>${com.comments}</p>
                                <button type="button" class="deletebut item-end text-white
                                bg-red-700 hover:bg-red-800 focus:outline-none
                                focus:ring-4 focus:ring-red-300 font-medium
                                rounded-full text-sm px-5 py-2.5 text-center
                                mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700
                                dark:focus:ring-red-900">Delete</button>

                                </div>`
                                comentariosxpelicula.push(element);


                            }
                        });
                        console.log("comentaris por pelicula",comentariosxpelicula)


                        var element = `<div class="">
                        <a href="/movie/${movie.id}">
                            <img class="" src="https://image.tmdb.org/t/p/w500${movie.poster_path}" >
                            <h1 class="mb-2 mt-0 text-xl font-medium leading-tight text-primary text-white " >${movie.original_title}
                            </h1>
                        </a>


                            <p class="text-lg cursor-pointer font-normal text-gray-500 lg:text-xl dark:text-gray-400" >${comentariosxpelicula.join(', ')}</p>

                        </div>`
                        movieInf.push(element);
                    });

                    $('.commentList').empty().append(movieInf.join(''));
                };









                $( document ).ready(function() {
                    rendercomments()


                });



            </script>

        {% endblock %}
    </head>
    <body>
        {% block header %}
            {{ parent() }}
        {% endblock %}
        {% block body %}

            <div class="flex  justify-center min-h-screen bg-gray-900">
                <div class="col-span-12">
                    <div class="overflow-auto lg:overflow-visible ">

                        <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-center">
                            User comments</h1>
                        <div class=" grid grid-cols-1 gap-4">


                            <div class="commentList grid grid-cols-5 gap-4 bg-gray-900">
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <style>

            </style>




        {% endblock %}
    </body>
</html>
